body{

    margin: 0;
    padding: 0;
    background: #008d10;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
.card
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color: white;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 400px 0 50px rgba(0, 0, 0, .5),
                       0px 20px 100px rgba(0, 0, 0, .5);
    transition: 1s all;
}
.card:hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5),
                       0px 10px 100px rgba(0, 0, 0, .5);
}
.card:before
{
    content: '';
    position: absolute;
    top:-5px;
    left: 0;
    width: 100%;
    height: 5px;
    background:#024b0d;
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.card::after{
    content: '';
    position: absolute;
    top:0px;
    right: -5px;  
    width: 5px;
    height: 100%;
    background-color: #058312;
    transform-origin: left;
    transform: skewY(-45deg);

}
.card .imgBox
{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transition: 1s cubic-bezier(.15,1.7,.84,.58);
  
}
.card:hover .imgBox
{
    transform: rotateY(-135deg);
}
.card .details
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 30px;
    z-index: -1;
    color: #058312;
}